Invoice processing/invoice_processing.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        400
      ],
      "id": "909f01ae-1090-4f89-a7ca-1f63ea53f879",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "cLfk2IJJzMUbEvpK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hossam.elesawy@student.guc.edu.eg",
        "subject": "=Invoices sheet Update",
        "emailType": "text",
        "message": "The invoices sheet has been updated with a new entry. The related invoice is also attached for your reference.",
        "options": {
          "appendAttribution": true,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment_0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        400
      ],
      "id": "38d734f3-f091-433f-a9d0-32fc58f0c777",
      "name": "Gmail2",
      "webhookId": "b6455e1a-c229-43e6-89fc-6d7c99e74b46",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "cLfk2IJJzMUbEvpK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -560,
        400
      ],
      "id": "e3412b16-876d-411e-b4fd-1991056fd089",
      "name": "extracting invoice",
      "webhookId": "f055d222-d6fe-4cc0-a3ab-38ed14ede50c",
      "credentials": {
        "gmailOAuth2": {
          "id": "cLfk2IJJzMUbEvpK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are an invoice data extraction assistant. \nYour task is to read the invoice text provided and return a clean, machine-readable JSON with no extra commentary.\n\nExtract the following fields if available:\n- invoice_number\n- invoice_date (YYYY-MM-DD format)\n- due_date (YYYY-MM-DD format)\n- vendor_name\n- vendor_address\n- vendor_tax_id\n- customer_name\n- customer_address\n- customer_tax_id\n- currency\n- line_items: array of { description, quantity, unit_price, total_price }\n- subtotal\n- tax_amount\n- total_amount\n\nRules:\n1. Use exact field names as listed above.\n2. If a field is missing, set it to null.\n3. Keep numeric values without currency symbols (e.g., 1200.50 not \"$1200.50\").\n4. Dates must be normalized to YYYY-MM-DD.\n5. Only return the JSON, nothing else.\n6. If multiple invoices are detected, return them as an array under `invoices`.\n",
        "inputType": "binary",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        528
      ],
      "id": "9f976dad-5426-40e0-b53e-39602697877d",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "Ui8gRFvAslFWCLsJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"invoice_number\": \"\",\n  \"invoice_date\": \"\",\n  \"due_date\": \"\",\n  \"vendor_name\": \"\",\n  \"vendor_address\": \"\",\n  \"vendor_tax_id\": \"\",\n  \"customer_name\": \"\",\n  \"customer_address\": \"\",\n  \"customer_tax_id\": \"\",\n  \"currency\": \"\",\n  \"line_items\": [\n    {\n      \"description\": \"\",\n      \"quantity\": 0,\n      \"unit_price\": 0,\n      \"total_price\": 0\n    }\n  ],\n  \"subtotal\": \"\",\n  \"tax_amount\": \"\",\n  \"total_amount\": 0\n}\n",
        "options": {
          "systemPromptTemplate": "You are an expert information extraction system.\nExtract only the relevant information from the provided text.\nIf an attribute’s value cannot be determined from the text, omit it entirely.\nReturn results in plain text format without placeholders for missing values."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -112,
        528
      ],
      "id": "0179e269-aa2b-4261-bb68-a684306f424a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        720
      ],
      "id": "00c2569d-d55d-4e46-83cf-ec9fac1cf28f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ui8gRFvAslFWCLsJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw data\nconst data = items[0].json.output;\n\n// Convert line_items array to a single string\nconst lineItemsString = data.line_items\n  .map(item => `${item.description} | qty: ${item.quantity} | unit: ${item.unit_price} | total: ${item.total_price}`)\n  .join('; ');\n\n// Return flattened object for Google Sheets\nreturn [\n  {\n    json: {\n      invoice_number: data.invoice_number || null,\n      invoice_date: data.invoice_date || null,\n      due_date: data.due_date || null,\n      vendor_name: data.vendor_name || null,\n      vendor_address: data.vendor_address || null,\n      vendor_tax_id: data.vendor_tax_id || null,\n      customer_name: data.customer_name || null,\n      customer_address: data.customer_address || null,\n      customer_tax_id: data.customer_tax_id || null,\n      currency: data.currency || null,\n      subtotal: data.subtotal || null,\n      tax_amount: data.tax_amount || null,\n      total_amount: data.total_amount || null,\n      line_items: lineItemsString\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        528
      ],
      "id": "669ce605-715a-4aa9-b807-6e0c7711d589",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        400
      ],
      "id": "ce276368-b682-4cc1-a3a9-e5dc2c6c2edf",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ITgzlN5MlE5P0oN0X4MKdISXpozVhVgUrm9ggunNUsI",
          "mode": "list",
          "cachedResultName": "Invoices_Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ITgzlN5MlE5P0oN0X4MKdISXpozVhVgUrm9ggunNUsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ITgzlN5MlE5P0oN0X4MKdISXpozVhVgUrm9ggunNUsI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_address",
              "displayName": "vendor_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_tax_id",
              "displayName": "vendor_tax_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_address",
              "displayName": "customer_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_tax_id",
              "displayName": "customer_tax_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tax_amount",
              "displayName": "tax_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "line_items",
              "displayName": "line_items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        528
      ],
      "id": "a588798e-53e3-441a-b765-61f734bff89f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bZJogVyMrJ0XSqGL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "extracting invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extracting invoice": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3222d524-6752-49d7-b9d5-d2d4b9431614",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "782fd9e1dfde19296cc4840d1c0c15c0ccf72f7f59493a6806edb1644cfd3b09"
  },
  "id": "9iSWXYnE5IxRzsji",
  "tags": []
}